body {
    margin: 0;
}

header {
    background-image: url('cake.jpg');
    background-size: cover;
    background-position: center center;
    padding: 150px 20vw;
}

header h1, header h2 {
    color: #eeeeee;
    text-align: center;
}

.header-overlay {
    padding: 40px 60px;
    background-color: rgba(88, 53, 53, 0.4);
}

.flex-container, .summary {
    display: flex;
    justify-content: center;
}

.ingredients {
    width: 20vw;
}

.recipe {
    width: 40vw;
    padding: 0 40px;
}

.summary {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 50px;
    box-shadow: 0 2px 2px #eeeeee;
}


.summary div {
    border-left: 1px solid #eeeeee;
    padding: 10px 30px;
}

.summary div:last-child {
    border-right: 1px solid #eeeeee;
}

footer {
    text-align: center;
    padding: 30px;
}